body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-jost: Jost;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --font-size-xl: 20px;
  --font-size-3xs: 10px;
  --font-size-base: 16px;
  --font-size-sm: 14px;

  /* Colors */
  --main-black: #2d2d2d;
  --color-gainsboro: #e7e1e1;
  --sec-gray: #c9c9c9;
  --sec-white: #fff;
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.05);
  --color-gray-200: rgba(0, 0, 0, 0.1);
  --color-gray-300: rgba(0, 0, 0, 0.5);

  /* Gaps */
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-10xs: 3px;

  /* border radiuses */
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-base: 16px;
  --br-21xl: 40px;
  --br-9xs: 4px;
}
